// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
  text-align: center;
}

h3 {
  text-align:center;
}
.cards {
  display: flex;
  justify-content: space-evenly;
}

.card {
  border: 1px solid black;
  background-color: #174C75;
  color: white;
  font-size:25px;
  padding:20px 25px;
  margin-bottom: 20px;
}

form {
  display:flex;
  justify-content: center;
}

.userinput {
  margin-right:10px;
}
